# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Babel
babel.config.js.bak


# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
metro-cache/
.cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Environment
.env
.env.*

# typescript
*.tsbuildinfo

# Xcode
ios/build/
ios/Pods/

*.xcworkspace
xcuserdata/
*.xcodeproj/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Android Studio
android/
*.iml

# Temporary / backup files
*.tmp
*.bak
*.swp
*.swo
